body {
  padding: 0;
  margin: 0;
}
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  left: 0;
  position: relative;
  background-color: gray;
}
.app .editor,
.app .preview {
  position: absolute;
  width: 100%;
  height: 900px;
  left: 0;
  background-color: blue;
  transition-duration: left 100ms linear;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
}
.app .editor button {
  float: right;
}
.app .preview {
  left: 100%;
  background-color: green;
}
.slide .editor {
  left: -50%;
}
.slide .preview {
  left: 50%;
}
